Options +FollowSymlinks
RewriteEngine on

RewriteRule ^admin/contact admin/index.php?page=contact
RewriteRule ^admin/home admin/index.php?a_page=home
RewriteRule ^admin/berichten(.*) admin/index.php?a_page=berichten$1
RewriteRule ^admin/beheerders admin/index.php?a_page=beheerders
RewriteRule ^admin/verwijder_beheerder(.*) admin/index.php?a_page=verwijder_beheerder$1
RewriteRule ^admin/ander_wachtwoord(.*) admin/index.php?a_page=ander_wachtwoord$1
RewriteRule ^admin/nieuwe_beheerder admin/index.php?a_page=nieuwe_beheerder
RewriteRule ^admin/log admin/index.php?a_page=log
RewriteRule ^admin/leeg_log(.*) admin/index.php?a_page=leeg_log$1
RewriteRule ^admin/server admin/index.php?a_page=server
RewriteRule ^admin/website admin/index.php?a_page=website
RewriteRule ^admin/unset admin/index.php?a_page=admin_off
RewriteRule ^admin/nieuw_bericht(.*) admin/index.php?a_page=nieuw_bericht$1
RewriteRule ^admin/verwijder_bericht(.*) admin/index.php?a_page=verwijder_bericht$1
RewriteRule ^admin/bewerk_bericht(.*) admin/index.php?a_page=bewerk_bericht$1
RewriteRule ^admin/login.css admin/9C75.php
RewriteRule ^.htaccess index.php

<Files .htaccess>
	order deny,allow
	deny from all
</Files> 