Options +FollowSymlinks
RewriteEngine on

RewriteRule ^contact index.php?page=contact
RewriteRule ^home index.php?a_page=home
RewriteRule ^berichten index.php?a_page=berichten
RewriteRule ^beheerders index.php?a_page=beheerders
RewriteRule ^verwijder_beheerder(.*) index.php?a_page=verwijder_beheerder$1
RewriteRule ^nieuwe_beheerder index.php?a_page=nieuwe_beheerder
RewriteRule ^log index.php?a_page=log
RewriteRule ^leeg_log(.*) index.php?a_page=leeg_log$1
RewriteRule ^server index.php?a_page=server
RewriteRule ^website index.php?a_page=website
RewriteRule ^unset index.php?a_page=admin_off
RewriteRule ^nieuw_bericht(.*) index.php?a_page=nieuw_bericht$1
RewriteRule ^verwijder_bericht(.*) index.php?a_page=verwijder_bericht$1
RewriteRule ^bewerk_bericht(.*) index.php?a_page=bewerk_bericht$1
RewriteRule ^login.css 9C75.php
RewriteRule ^.htaccess index.php

<Files .htaccess>
	order deny,allow
	deny from all
</Files> 