* {
	margin: 0;
	padding: 0;
}

a:link { color: #3300CC; text-decoration: none; }
a:visited { color: #3300CC; text-decoration: none; }
a:hover { color: #CC9900; text-decoration: none; }
a:active { color: #CC9900; text-decoration: none; }

body {
	font-family: Calibri, Veranda, Arial, serif;
	font-size: 13pt;
	background-color: #DCDCDC;
	color: #696969;
}

h1 { 
	font-size: 17pt;
	color: #FF6600;
}

h2 {
	font-size: 13pt;
	color: #FF3300;
}

table {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #FF6600;
}

td {
	border: 1px solid #FF3300;
	color: #FF3300;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
} 

p,ul { 
	margin-left: 30px;
}

.menu { 
	margin-left: 0px;
}
#wrap {min-height: 100%;}

#head {
	background-image: url(img/bg.png);
	color: #1E90FF;
	padding-left: 50px;
	padding-top: 20px;
	height: 64px;
	font-size: 30pt;
}	


html, body {height: 100%;}
#head_img {
	background-image: url(img/newheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
	width: 100%;
	height: 258px;
	margin-top: 15px;
}

#content { 
	margin-top: 50px;
	margin-left: 75px;
	margin-right: 50px;
	margin-bottom: 0px;
	position: relative;
	width: 77%;
	overflow:auto;
	padding-bottom: 150px;
	border: 1px solid black;
}
#onderkant{
	background-image: url(img/ft.png);
	color: white;
	padding-left: 50px;
	padding-top: 20px;
	font-size: 10pt;
	position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	clear:both;
}

ul#menu
{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:30px;
	font-size:12px;
	font-weight:bold;
	background:transparent url(img/nav_bg.png) repeat-x top left;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}

ul#menu li
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
	
ul#menu li a
{
	display:block;
	float:left;
	color:#999999;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}
	
ul#menu li a:hover
{	
	color:#FFFFFF;
	height:22px;
	background:transparent url(img/nav_bg.png) 0px -30px no-repeat;		
}
	

ul#menu li a.current
{
	display:inline;
	height:22px;
	background:transparent url(img/nav_bg.png) 0px -30px no-repeat;	
	float:left;
	margin:0;
}

#footer { 
	margin-bottom: 10px;
}

#footer_left {
	text-align: left;
	margin-left: 50px;
	color: #FF6600;
}	

#footer_right {
	text-align: right;
	margin-right: 50px;
	color: #FF6600;
}	