* {
	margin: 0;
	padding: 0;
}

a:link { color: #3300CC; text-decoration: none; cursor: pointer; }
a:visited { color: #3300CC; text-decoration: none; cursor: pointer; }
a:hover { color: #CC9900; text-decoration: none; cursor: pointer; }
a:active { color: #CC9900; text-decoration: none; cursor: pointer; }

body {
	font-family: Calibri, Veranda, Arial, serif;
	font-size: 13pt;
	background-color: #DCDCDC;
	color: #696969;
}

h1 { 
	font-size: 17pt;
	color: #FF6600;
}

h2 {
	font-size: 13pt;
	color: #FF3300;
}

p,ul { 
	margin-left: 30px;
}

textarea {
	width: 99%;
	height: 400px;
}

.menu { 
	margin-left: 0px;
}
#wrap {min-height: 100%;}

#head {
	background-color:black;
	color: white;
	padding-left: 50px;
	padding-top: 20px;
	height: 64px;
	font-size: 30pt;
}	


html, body {height: 100%;}
#head_img {
	background-image: url(img/newheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
	width: 100%;
	height: 258px;
	margin-top: 15px;
}

#content { 
	margin-top: 50px;
	margin-left: 75px;
	margin-right: 50px;
	margin-bottom: 0px;
	position: relative;
	width: 77%;
	overflow:auto;
	padding-bottom: 150px;
}
#onderkant{
	background-image: url(img/ft.png);
	color: white;
	padding-left: 50px;
	padding-top: 20px;
	font-size: 10pt;
	position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	clear:both;
}

ul#menu
{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:30px;
	font-size:12px;
	font-weight:bold;
	background-color:white;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:0px solid #000000;
	border-top:0px solid #000000;
}

ul#menu li
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
	
ul#menu li a
{
	display:block;
	float:left;
	color:#999999;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}
	
ul#menu li a:hover
{	
	color:#FFFFFF;
	height:22px;
	background:green;
	border-bottom: 5px solid #000000;
}
	

ul#menu li a.current
{
	display:inline;
	height:22px;
	background:black;	
	float:left;
	margin:0;
}

#footer { 
	margin-bottom: 10px;
}

#footer_left {
	text-align: left;
	margin-left: 50px;
	color: #FF6600;
}	

#footer_right {
	text-align: right;
	margin-right: 50px;
	color: #FF6600;
}	

.dialog {
	background-color:#DCDCDC;
	display:none;
	width:350px;
	padding:15px;
	text-align:left;
	border:2px solid #333;

	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}
	
.dialog h2 {
	background:url(/img/global/info.png) 0 50% no-repeat;
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #333;
	font-size:30pt;
	color:#1E90FF;
	}
	
.close {
background:transparent url(img/bg.png) 0px -30px repeat;
color:#999999;
font-size:9pt;
font-weight:bold;
border:0px solid #000000;
width:70px; 
height:30px;
}
.accept {
background:transparent url(img/bg.png) 0px -30px repeat;
color:#FFFFFF;
font-size:9pt;
font-weight:bold;
border:0px solid #000000;
width:70px; 
height:30px;
}
